.Main__Container{
    
    width: 80%;
    margin: auto;
    
    
}

@media (max-width: 575px) {
  
  .Main__Container {
    width: 98%;
  }
}

@media (min-width: 576px) {
  
  .Main__Container {
    width: 95%;
  }
}
@media (min-width: 768px) {
  
  .Main__Container {
    width: 90%;
  }
}

@media (min-width: 992px) {
 
  .Main__Container {
    width: 85%;
  }
}
@media (min-width: 1400px) {
  
  .Main__Container {
    width: 80%;
  }
}