*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url(../public/assets/images/secondayBG.gif);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  /* height: 2000px; */
}

::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background-color: orange;
}