.Clint-SEC{
    padding:40px 0px;
    background-color: rgba(16, 20, 24, 0.7);
   
}

.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs .box{
    flex: 1;
    text-align: center;
    display: flex;
}
.boxs .box img{
    background-image: url(../../../../assets/images/dish\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.boxs .box .img2{
    background-image: url(../../../../assets/images/chef\ \(1\)\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.boxs .box .img3{
    background-image: url(../../../../assets/images/team\ 1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    
}
.boxs .box .Number h3{
    font-size: 30px;
    color: orange;
    font-weight: 700;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 117.3%;
    text-transform: capitalize;
    margin-bottom: 8px;
    
}
.boxs .box .Number h2{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.boxs .box .Number{
    margin-left: 30px;
}

@media (max-width:991px){
    .boxs{
        flex-direction: column;
    }
    .box{
        margin-bottom: 14px;
    }
    
   
}
